.footer-section {
  display: flex;
  background-color: #6E07F3;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding: 50px 20px;
}
.social-icon {
  width: 18px;
  height: 18px;
}
.footer-subtext {
  color: #EBEBEB;
  max-width: 300px;
  text-align: center;
  font-size: 15px;
}
.footer-tagline {
  color: #EBEBEB;
  font-size: larger;
  max-width: 300px;
  text-align: center;
}
.bulma-badge {
  height: auto;
  width: 175px;
}
.footer-logo {
  height: 85px;
  width: 85px;
}
.social-icons {
  display: flex;
  flex-direction: row;
  gap: 25px;
}