.about-section {
  background-color: var(--p-primary-600);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}
.about-card {
  max-width: 700px;
  text-align: center;
  background-color: var(--p-primary-700) !important;
  color: white !important;

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
  }
  p {
    color: var(--p-primary-100);
    line-height: 1.7;
  }
}