.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 130%;
  padding-top: 100px;
  gap: 50px;
}
.hero-text h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--p-primary-600);
}
.hero-text p {
  color: var(--p-text-muted-color);
  margin-top: 10px;
}
.avatar-img {
  height: auto;
  width: 215px;
}
.devices-img {
  height: 350px;
  display: block;
}