.b1 {
    background-color: #ffffff;
    border: 2px solid #6E07F3;
    border-radius: 35px;
    padding: 10px;
    color: #8A00C4;
    font-size: 15px;    
    padding-left: 15px;
    padding-right: 15px;
}
.b1:hover {
    background-color: #6E07F3;
    color: #ffffff;
    cursor: pointer;
}
.h-text {
    display: flex;
    
    align-items: center;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 0 40px; 
}
.header-container p:hover {
    color: #6E07F3;
    cursor: pointer;
}
.header-container svg:hover {
    cursor: pointer;
}
.body1 {
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 130%;
    padding-top: 100px;
    gap: 50px;
}
.icon {
    height: 85px;
    width: 85px;
}
.text1 {
    display: flex;
    align-items: center;
    gap: 20px;
}
.img1{
    height: auto;
    width: 215px;
    padding-top: 25px;
}
.img2 {
    height: 350px;
    display: block;
}
.purple {
    background-color: #6E07F3;
    height: 500px;
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.purple p {
    padding-top: 25px;
    max-width: 700px;
}
.footer1 {
    display: flex;
    background-color: #6E07F3;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 50px 20px;
}
.social-icon {
    width: 18px;
    height: 18px;
}
.sub-text{
     color: #EBEBEB;
    font-size: 10px;
    max-width: 300px;
    text-align: center;
    font-size: 15px;
}
.text-f {
     color: #EBEBEB;
    font-size: larger;
    max-width: 300px;
    text-align: center;
}
.footer-img {
    height: auto;
    width: 175px;
    display: flex;
    justify-content: center;
}
.icons-pos {
    display: flex;
    flex-direction: row;
    gap: 25px;
}